<div class=" mt-3 container-fluid ">
    <h1 class="display-4 text-secondary text-center">Cadastre seu livro</h1>

    <form class="form" action="/books/insertbook" method="post">
        <label class="m-1" for="">Titulo:</label>
        <input class="form-control" type="text" name="title" id="" placeholder="Digite o titulo">
        <label class="m-1" for="">Paginas</label>
        <input class="form-control" type="number" name="pageqty" id="" placeholder="Numero de paginas">
        <input class=" btn-lg mt-3 btn-success" type="submit" name="" id="">
            <a class="btn btn-outline-secondary" href="/books"> Livros cadastrados</a>

    </form>

</div>